<div *ngIf="!isSignedIn" class="container">
  <form class="login">
    <img class="logo" src="../../assets/img/login.svg" />
    <input class="username" type="email" placeholder="Enter email" formControlName="email" #email required>
    <input class="password" type="password" placeholder="Enter Password" formControlName="password" #password required>
    <button type="submit" (click)="onSignin(email.value, password.value)">Sign in</button>
    <a routerLink="/registration" routerLinkActive="active">or registration</a>
  </form>
</div>
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>

